.section#head{
  padding-top:50px;
}
.section#head .tagline{
  margin-bottom:20px;
}

/* search bar css */

    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;a
    transition: width  0.2s ease-in-out;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
        width: 260px;
    }


/* search bar css */



/* scroll bar  */

body::-webkit-scrollbar {
    width: .6em;
}
body::-moz-scrollbar {
    width: .6em;
}
body::scrollbar {
    width: .6em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-moz-scrollbar-track {
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


body::-moz-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


/*    tags css   */



.tags-nws {
  list-style: none;
  margin: 70px 0;
  overflow: hidden; 
  padding: 0;
  color:white;
  background-color:transparent;
}

.tags-nws li {
  float: left; 
}

.tag-nws {
  border-radius: 3px 0 0 3px;
  color:white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
    background-color: crimson;
}

.tag-nws::before {
 
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag-nws::after {
  background: #fff;
  opacity:0.1;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
   
}

.tag-nws:hover {
  background-color: crimson;
  color: white;
}

.tag-nws:hover::after {
   border-left-color: crimson;
   opacity:.4;
  
}
.news-tag-row{
  margin-top:30px;
  
}



/*    tags css   */







